@media screen and (max-width: $mobile){
    header{
        .screen-menu{
            display: none;
        }
        .burger-menu{
            display: block;
            text-align: right;
            padding-right:1rem;
            width:10%;

            img{
                width: 100%;
                top: 5%;
                right: 5%;
                &:hover{
                    cursor: pointer;
                }
            }
            .mobile-menu{
                position: absolute;
                top: 7rem;
                right: 0;
                left: 0;
                background-color: $prim;
                width: 100%;
                z-index: 10;
                ul{
                    text-align: center;
                    li{
                    display: block;
                    list-style: none;
                    padding: 10px;
                    a:hover{
                        color: $second;
                        text-decoration: underline;
                    }
                }
                }
                
            }
            .toggle-menu{
                display: none;
            }
        }
        .hero-text{
            top: 8%;
            bottom: 5%;
            left: 10%;
            right: 10%;
            button{
                font-size: 15px;
                padding: 10px;
            }
        }
    }
}
