#inventions{
    .background{
        position: relative;
        img{
            width: 100%;
            height: auto;
        }
    }
    .overlay{
        color: white;
        position: absolute;
        text-align: center;
        padding: 0 60px;
        top: 20%;
        bottom: 20%;
        h3{
            color: white;
        }
        a{
            color: white;
        }
    }
}

#inventionsPage{
    padding:0 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .inventionCard{
        width: 40%;
        height:fit-content;
        margin: 5%;
        display: flex;
        flex-direction: column;
        background-color: #DEE0E8;
    }
    img{
        width: auto;
        height: 30%;
        object-fit: cover;
    }
    .textInvention{
        height:70%;
        padding: 30px;
        h2{
            // font-size:2.5rem;
            // color: #707070;
            margin-top: 0;
            text-align: left;
            font-size: $h3-size;
        }
        p{
            // font-size: 1.2rem;
            color: #3E7DB3;
            // line-height: 1.6;
        }
        a{
            font-size: $source-size;
        }
    }
}

#myPatents{
    color: white;
    background-color: $prim;
    padding: 30px 10%;
    h2{
        color: white;
        text-align: left;
        font-size:3em;
        margin-top: 0;
    }
    li{
        line-height: 1.6;
        font-size:1.7em;
    }
}

@media screen and (max-width: $mobile){
    #inventions{
        .background{
            overflow: hidden;
            img{
                width: 160%;
            }
        }
        .overlay{
            top:10%;
            bottom:10%;
            padding: 0 15px;
            a, p{
                font-size: $mobile-text-size;
            }
            h3{
                margin: 0;
            }
        }
    }
    .inventionCard{
        width: 80%;
    }
}
