{% block content %}
{% for post in posts %}
    <div class="contact-image">
        {# <img src="{{ Image(p.meta('image')).src }}" alt="{{ Image(p.meta('image')).alt }}" /> #}
        <img src="{{post.meta('image')}}">
    </div>
    <div class="form">
        {{post.content}}
    </div>
{% endfor %}
{% endblock %}